@font-face {
  font-family: 'lecture-slides-icons';
  src:
    url('fonts/lecture-slides-icons.ttf?ds4s9d') format('truetype'),
    url('fonts/lecture-slides-icons.woff?ds4s9d') format('woff'),
    url('fonts/lecture-slides-icons.svg?ds4s9d#lecture-slides-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="__ls__icon-"], [class*=" __ls__icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lecture-slides-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.__ls__icon-newspaper:before {
  content: "\e904";
}
.__ls__icon-pencil2:before {
  content: "\e906";
}
.__ls__icon-camera:before {
  content: "\e90f";
}
.__ls__icon-headphones:before {
  content: "\e910";
}
.__ls__icon-music:before {
  content: "\e911";
}
.__ls__icon-film:before {
  content: "\e913";
}
.__ls__icon-pacman:before {
  content: "\e916";
}
.__ls__icon-mic:before {
  content: "\e91e";
}
.__ls__icon-book:before {
  content: "\e91f";
}
.__ls__icon-library:before {
  content: "\e921";
}
.__ls__icon-file-empty:before {
  content: "\e924";
}
.__ls__icon-file-text2:before {
  content: "\e926";
}
.__ls__icon-file-picture:before {
  content: "\e927";
}
.__ls__icon-file-music:before {
  content: "\e928";
}
.__ls__icon-file-play:before {
  content: "\e929";
}
.__ls__icon-file-video:before {
  content: "\e92a";
}
.__ls__icon-file-zip:before {
  content: "\e92b";
}
.__ls__icon-envelop:before {
  content: "\e945";
}
.__ls__icon-calendar:before {
  content: "\e953";
}
.__ls__icon-bubbles2:before {
  content: "\e96d";
}
.__ls__icon-cog:before {
  content: "\e994";
}
.__ls__icon-bin:before {
  content: "\e9ac";
}
.__ls__icon-list-numbered:before {
  content: "\e9b9";
}
.__ls__icon-earth:before {
  content: "\e9ca";
}
.__ls__icon-attachment:before {
  content: "\e9cd";
}
.__ls__icon-cancel-circle:before {
  content: "\ea0d";
}
.__ls__icon-arrow-right:before {
  content: "\ea34";
}
.__ls__icon-arrow-left:before {
  content: "\ea38";
}
.__ls__icon-embed2:before {
  content: "\ea80";
}
.__ls__icon-terminal:before {
  content: "\ea81";
}
.__ls__icon-github:before {
  content: "\eab0";
}
.__ls__icon-file-pdf:before {
  content: "\eadf";
}
.__ls__icon-file-openoffice:before {
  content: "\eae0";
}
.__ls__icon-file-word:before {
  content: "\eae1";
}
.__ls__icon-file-excel:before {
  content: "\eae2";
}
.__ls__icon-libreoffice:before {
  content: "\eae3";
}
