/*
 * lecture-slides.js (https://www.buzzlms.de)
 * © 2017 – 2019 Dennis Schulmeister-Zimolong <dennis@pingu-mail.de>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 */

@import (css) url('https://fonts.googleapis.com/css?family=Nunito:700|Raleway:400,400i,700');

@slide-title-color: rgb(157, 26, 26);
@heading-color: rgb(62, 62, 62);
@nav-bg: rgb(237, 237, 237);
@progressbar-color: rgb(18, 183, 212);
@border-color: lightgrey;
@print-border-color: rgb(170,170,170);

@box-header-background-color: white;
@box-label-border-color-active: rgb(44, 121, 145);
@box-label-border-color-hover: lighten(@box-label-border-color-active, 25%);
@box-content-background-color: rgb(241, 244, 246);

:local(.style) {
    html, body {
        background-color: red;
    }

    // Mixin for hyphenated and justified text content
    .justified-text-mixin {
        text-align: justify;
        hyphens: auto;

        h1, h2, h3, h4, h5, h6, source-code, pre {
            text-align: left;
        }
    }

    // Font settings
    font-family: 'Raleway', sans-serif;

    h1, h2, h3, h4, h5, h6, dt {
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        color: @heading-color;
    }

    // Progress bar
    .ls-progress {
        background-color: @nav-bg;

        .ls-bar {
            background-color: @progressbar-color;
        }
    }

    // Navigation bar
    #ls-navbar {
        background-color: @nav-bg;

        .navbar-brand {
            font-family: 'Nunito', sans-serif;
            font-weight: bold;
            color: rgb(50,50,50);
        }

        #ls-nav-numbers {
            font-weight: bold;
        }

        .label {
            width: 100%;
            padding-right: 3em;
        }

        kbd {
            border: 1px solid rgb(180, 180, 180);
            background: none;
            color: rgb(180, 180, 180);
            font-weight: normal;
        }

        kbd:hover {
            color: rgb(120,120,120);
        }
    }

    // Table of Contents / Slide Overview
    @toc-entry-size-large: 160%;
    @toc-entry-size-small: 130%;
    @toc-entry-chapter-margin: 1.5rem;

    #ls-overview-header {
        .justified-text-mixin;
    }

    .ls-toc-entry {
        a {
            font-size: @toc-entry-size-large;
            color: black;
        }

        a.active {
            color: @progressbar-color;
        }
    }

    .ls-toc-with-chapters {
        .ls-toc-entry-is-chapter {
            a {
                font-size: @toc-entry-size-large;
            }

            .ls-toc-caption {
                margin-left: @toc-entry-chapter-margin;
                margin-bottom: @toc-entry-chapter-margin / 2;
            }
        }

        .ls-toc-entry-is-normal {
            a {
                font-size: @toc-entry-size-small;
            }

            margin-left: @toc-entry-chapter-margin;
        }

        .ls-toc-entry-is-chapter:not(:first-child) {
            margin-top: @toc-entry-chapter-margin;
        }
    }

    .ls-overview-slide-preview {
        box-shadow: 0 0 5px @border-color;
        .justified-text-mixin
    }

    // Slides
    .ls-slide-title,
    .ls-slide-title h1 {
        color: @slide-title-color;
        text-shadow: 1px 1px 1px #606060;
    }

    #ls-slideshow {
        .justified-text-mixin;

        .ls-slide-content {
            font-size: 140%;

            // bootstrap medium
            @media (max-width: 768px) {
                order: -1;
                font-size: 120%;
            }
        }

        .ls-slide-details {
            // bootstrap medium
            @media (max-width: 768px) {
                border-top: 1px solid @border-color;
                padding-top: 1rem;
            }
        }
    }

    // Print View
    #ls-print {
        .justified-text-mixin;

        .ls-slide-container {
            border-top: 2px solid @print-border-color;
        }

        .ls-slide-details {
            margin-top: 1rem;
            padding-top: 1rem;
            border-top: 1px solid @print-border-color;
        }

        // Reduce font-sizes as they look huge on paper
        font-size: 85%;

        h1 {
            font-size: 1.6em;
        }
        h2 {
            font-size: 1.2em;
        }
        h3 {
            font-size: 1em;
        }

        .no-print {
            display: none;
        }

        // Hack for Bootstraps tab pages
        .tab-pane {
            &:not(:first-child) {
                margin-top: 1rem;
                padding-top: 1rem;
                border-top: 1px solid @print-border-color;
            }
        }
    }

    // More modern and responsive bootstrap tab pages and carousel
    .tab-pages,
    .carousel {
        margin-bottom: 1em;
    }

    .nav-tabs {
        background-color: @box-header-background-color;
        border: 0;

        .nav-link {
            background-color: transparent;
            border: 0;
            border-bottom: 2px solid transparent;

            &.active {
                border-bottom-color: @box-label-border-color-active;
            }

            &:hover {
                border-bottom-color: @box-label-border-color-hover;
            }
        }
    }

    .tab-content,
    .carousel {
        padding: 1em;

        background-color: @box-content-background-color;

        border: 0px solid @border-color;
        border-top-width: 1px;
        border-bottom-width: 1px;
    }

    .carousel {
        // Fix carousel overlapping nav tab border
        z-index: -1;
    }

    .carousel-outer {
        // Remove padding for carousel-nav links, since there are no active nav links
        // with a permanent line below 
        .nav-link {
            padding-left: 0;
            padding-right: 0;
            margin-right: 1em;
        }

        .sub-nav-tabs {
            .nav-link {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    // Info boxes
    .info-box-title {
        font-weight: bold;
    }

    .info-box {
        padding: 0.5em;
        margin-bottom: 0.75em;

        background-color: @box-content-background-color;
        border-left: 4px solid rgb(46, 114, 163);

        &.warning {
            border-left-color: rgb(246, 161, 34);
        }

        &.critical {
            border-left-color: rgb(207, 30, 30);
        }
    }

    .tab-content .info-box,
    .carousel .info-box {
        background-color: darken(@box-content-background-color, 6%);
    }
}
