/*
 * lecture-slides.js (https://www.buzzlms.de)
 * © 2017  Dennis Schulmeister-Zimolong <dennis@pingu-mail.de>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 */

html, body {
    min-height: 100%;
    height: 100%;
}

:local(.container) {
    display: flex;
    flex-direction: column;

    // Fix cursor for links
    a {
        cursor: pointer;
    }

    .disabled {
        cursor: initial !important;
    }

    //  No dotted border around links
    a {
        outline: none;
    }

    // Progress bar
    @progressBarHeight: 2px;

    .ls-progress {
        display: block;
        height: @progressBarHeight;

        .ls-bar {
            height: @progressBarHeight;
            transition: width 0.75s;
        }
    }

    // Navigation bar
    #ls-navbar {
        #ls-nav-goto-id {
            width: 6em;
        }
    }
}
